body {
    border: 1px solid;
}

#box1 {
    width: 100px;
    height: 100px;
    background-color: rgb(42, 147, 222);
    position: relative;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
}
